# macOS and Linux
[includeIf "gitdir:~/Code/yuzhoumo/"]
  path = ~/.config/git/.gitconfig-yuzhoumo
[includeIf "gitdir:~/Code/ppanda/"]
  path = ~/.config/git/.gitconfig-ppanda

# WSL
[includeIf "gitdir:~/code/yuzhoumo/"]
  path = ~/.config/git/.gitconfig-yuzhoumo
[includeIf "gitdir:~/code/ppanda/"]
  path = ~/.config/git/.gitconfig-ppanda

[core]
  editor = vim
  excludesfile = ~/.config/git/.gitignore

[pull]
  rebase = true
