# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# BetterDiscord GUI installer
macos/assets/betterdiscord/BetterDiscord/BandagedDB.app

# BetterDiscord plugin and theme directories
macos/assets/betterdiscord/BetterDiscord/plugins
macos/assets/betterdiscord/BetterDiscord/themes

# Browser Application Support directories
macos/assets/ungoogled-chromium/Chromium
macos/assets/firefox/Profiles

# Extra settings
.extra
